/*-- Raptor Studios 2009 --*/

html {
background-color: #000000;
}

body {
background-color: #0099FF;
margin: 7px;
font: 18px Arial, Verdana, Geneva, Helvetica, sans-serif;
}

div.navigation {
background-color: #FFFFFF;
margin-left: 2.1%;
margin-right: 2.1%;
}

div.tabs
{
float: left;
width: 100%;
background: url("tab_b.gif") repeat-x bottom;
margin-top: 2px;
}

div.MSearchBoxInactive{
margin: 2px;
}


div.contents {
background-color: #FFFFFF;
border: 1px solid black;
margin-left: 2%;  
margin-right: 2%;
margin-bottom: 2%; 
padding: 3%;
}

div.directory {
background-color: #FFFFFF;
border: 1px solid black;
margin: 2%;
padding: 2%;
}

div.memitem{
margin:2%;
}

div.memproto{
border-top: 1px solid black;
padding-top:1%;
}

td.mdescRight{
font-style:italic;
}



/*

div.navigation {
background-color: #000000;
border-bottom : 1px solid black;
height: 43px;
font: 35px Geneva, Arial, Verdana, Helvetica,  sans-serif;
color: #0099FF;
font-weight: bolder;
text-align:  center; 
letter-spacing: 2px;
}



//************************************
#imm {
background-color: #000000;
border-bottom: 1px solid black;
border-left: 1px solid black;
width: 190px;
height: 184px;
float: right;
overflow: hidden;
}

//************************************


#barra a {
text-decoration: none;
}

#barra a:hover {
text-decoration: underline;
}

#barra span.tmp {
font: 13px Arial, Verdana, Geneva, Helvetica, sans-serif;
}

//************************************


//************************************
#menu {
color: #000000;
float: left;
margin-left: 2%;
margin-top: 5em;
width: 17%;
}

#menu a {
text-decoration: none;
}

#menu a:hover {
font-weight: bolder;
text-decoration: underline;
}

#menu img {
border: none;
}

//*************************************
div.contents {
margin-top: 6%;
margin-left: 19%;  
margin-right: 2%;
margin-bottom: 2%;
width: 79%;  
}

a.permalink {
text-decoration: none;
color: #CC0000;
}

a.permalink:hover {
text-decoration: underline;
color: #CC0000;
}

a.hidlink {
text-decoration: none;
color: #000000;
}

a.hidlink:hover {
text-decoration: underline;
color: #0000FF;
}

#contenuto img.clear {
border: none;
}

#contenuto h1, h2, h3 {
margin-top: -3px;
margin-bottom: -3px;
}

#contenuto h2 {  
font: bold 16px Tahoma, Verdana, Helvetica, sans-serif;
margin-left: 10px;
}

#contenuto h3 {  
font: 10px Verdana, Tahoma,  Helvetica, sans-serif;
}

#contenuto p {
color : #000000;
font : 15px Verdana, Geneva, Arial, Helvetica, sans-serif;
line-height : 1.5em;
overflow: auto;
}
/*************************************/
